deployment_enabled       = true
deployment_id            = "demo01"
operator_cidr            = "203.0.113.10/32"
authorization_expiration = "2026-08-06T18:00:00Z"
expiration               = "2026-08-07"
deployment_role_arn      = "arn:aws:iam::123456789012:role/aws-pam-REPLACE-github-deploy"
budget_email             = "operator@example.com"

