VOLUME_DIR=/data/jumpserver
SECRET_KEY={{ jumpserver_secret_key }}
BOOTSTRAP_TOKEN={{ jumpserver_bootstrap_token }}
LOG_LEVEL=ERROR
DOCKER_SUBNET=192.168.250.0/24
IMAGE_PULL_POLICY=IfNotPresent
DB_ENGINE=postgresql
DB_HOST=postgresql
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD={{ jumpserver_postgres_password }}
DB_NAME=jumpserver
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD={{ jumpserver_redis_password }}
HTTP_PORT=127.0.0.1:80
HTTPS_PORT=443
SERVER_NAME={{ jumpserver_private_ip }}
SSL_CERTIFICATE=server.crt
SSL_CERTIFICATE_KEY=server.key
DOMAINS={{ jumpserver_private_ip }}:443
KOKO_SSH_PORT=2222
LION_ENABLED=0
CHEN_ENABLED=0
RAZOR_ENABLED=0
XRDP_ENABLED=0
MAGNUS_ENABLED=0
FACELIVE_ENABLED=0
USE_XPACK=0
TZ=UTC
CURRENT_VERSION={{ jumpserver_version }}-ce

